<footer>
    <div class="footer-nav">
        <div class="social-media-icons">
            <a href="https://www.facebook.com/MarshianSoftware"><img class="media-icon" src="/images/media-icons/fb-circle-icon.png" alt="Facebook icon"></a>
            <a href="https://www.instagram.com/marshiansoftware/"><img class="media-icon" src="/images/media-icons/ig-circle-icon.png" alt="Instagram icon"></a>
            <a href="https://twitter.com/MarshianSoft"><img class="media-icon" src="/images/media-icons/twit-circle-icon.png" alt="Twitter icon"></a>
        </div>
        <div class="footer-nav-links">
            <a class="footer-nav-link <%= activePage.page === 'home' ? 'active-footer' : '' %>" href="/home">Home</a>
            <a class="footer-nav-link <%= activePage.page === 'about' ? 'active-footer' : '' %>" href="/about">About</a>
            <a class="footer-nav-link <%= activePage.page === 'blog' ? 'active-footer' : '' %>" href="/blog">Blog</a>
            <a class="footer-nav-link <%= activePage.page === 'contact' ? 'active-footer' : '' %>" href="/contact">Contact</a>
        </div>
        <button id="scroll-top" class="scroll-top-btn">Back to Top</button>
        <div class="footer-legal">
            <p class="legal-info">&copy; Marshian Software LLC 2021</p>
            <p class="legal-info">Social media icons by <a class="attribution-link" href="https://freeicons.io/profile/5596">shivani</a> on <a class="attribution-link" href="https://freeicons.io">freeicons.io</a></p>
        </div>
    </div>
    <script>
        let scrollBtn = document.querySelector("#scroll-top");
        scrollBtn.addEventListener('click', (e) => {
            e.preventDefault();
            document.body.scrolltop = 0;
            document.documentElement.scrollTop = 0;
        });
    </script>
</footer>
</body>
</html>