<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <main>
        <div class="top-content">
            <h1 class="about-page-title about-upper-title">Know Who You're Buying From</h1>
            <div class="card large-card">
                <h2 class="card-title large-card-title">About the Founder</h2>
                <div class="large-card-body">
                    <div class="card-body-left">
                        <div class="paragraph">Marshall Pritchett graduated Clemson University in December, 2015 with a Bachelor of Science in Nursing. He went on to work for several years in the industry before switching careers to web development in 2018, due in part to mental health concerns.</div>
                        <div class="paragraph">After deciding to change his career path, Marshall worked hard to build his skills as a web developer. Despite working multiple jobs, he managed to teach himself and become an accomplished young professional in the field of website development and design.</div>
                    </div>
                    <div class="card-body-right">
                        <div class="paragraph">After multiple years of hard work and dedication, Marshall decided to start work as a freelance web developer and designer. In early 2021, he founded Marshian Software LLC and went to work on his first professional project.</div>
                        <div class="paragraph">Currently, Marshall lives in Greenville, SC with his wonderful wife, Allison, and their sometimes-wonderful-when-she-wants-to-be dog Brownie. Other than building stellar websites, Marsall spends his time hiking, gaming, and enjoying the life of a newlywed.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-bottom-content">
            <h1 class="about-page-title about-lower-title">Know What You're Paying For</h1>
            <div class="card large-card">
                <h2 class="card-title large-card-title">About the Product</h2>
                <div class="large-card-body">
                    <div class="card-body-left">
                        <div class="paragraph">Marshian Software specializes in full stack web development. But what does that mean? Well, think of a website like a sandwich. Actually... don’t do that, it’s a ridiculous premise.</div>
                        <div class="paragraph">To put it simply, there are two pieces to every web application: the front end, and the back end. The front end is what everyone sees and interacts with. Its the piece that is most influenced by design and style. The back end consists of all of the databases and servers that store and host the information displayed on the front end.</div>
                    </div>
                    <div class="card-body-right">
                        <div class="paragraph">Full stack developers don't just specialize in building one of these two pieces, they handle both front end design and back end development.  They build a web application from the ground up, using a mysterious process those of us in the biz refer to as “coding” or “programming."</div>
                        <div class="paragraph">This means that Marshian Software oversees your project from start to deployment. Every piece of the puzzle that fits together to become your website is a collaborative effort between one single company and its client, a.k.a you!</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include("./partials/foot.ejs") %>