<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/blog.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <main>
        <div class="top-content">
            <h1 class="blog-page-title">The Blog-iverse</h1>
            <div class="card small-card">
                <h2 class="card-title small-card-title">Take a Behind-the-Scenes Look at What Marshian Software Does</h2>
                <div class="small-card-body">
                    <p>Learn more about web development and design</p>
                    <p>Find out more about the founder, Marshall Pritchett, and his family</p>
                    <p>Open up a whole new world of programming and entertainment</p>
                </div>
            </div>
        </div>

        <div class="blog-bottom-content">
            <div class="blog-post-card">
                <h3 class="blog-post-title">Blog Post Title 1</h3>
                <div class="blog-post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur... <a class="read-more-link" href="">Read More</a></div>
            </div>
            <div class="blog-post-card">
                <h3 class="blog-post-title">Blog Post Title 2</h3>
                <div class="blog-post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur... <a class="read-more-link" href="">Read More</a></div>
            </div>
            <div class="blog-post-card">
                <h3 class="blog-post-title">Blog Post Title 3</h3>
                <div class="blog-post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur... <a class="read-more-link" href="">Read More</a></div>
            </div>
            <button class="see-more-btn">See More</button>
        </div>
    </main>
<%- include("./partials/foot.ejs") %>