<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <main>
        <div class="top-content">
            <h1 class="contact-page-title">Contact Marshian Software</h1>
            <div class="card large-card">
                <h2 class="card-title contact-card-title">Message Marshian Software Today</h2>
                <h3 class="contact-subheading">and learn how you can grow your business by 25% over the next 3 to 5 years!<sup>*</sup></h3>
                <form class="contact-form" action="">
                    <div class="inputs-container">
                        <label for="name">Name: </label>
                        <input type="text" name="name" id="name" placeholder="Full Name" size="38">
                    
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="example@email.com" size="38">
                    
                        <label for="phone">Phone: </label>
                        <input type="tel" name="phone" id="phone" size="38" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    
                        <label for="website">Website: </label>
                        <input type="url" name="website" id="website" placeholder="www.yourcurrentwebsite.com" size="38">
                    </div>
                    <div class="message-container">
                        <label for="message">Message: </label>
                        <textarea name="message" id="message" placeholder="Describe your ideal website..."></textarea>
                    </div>
                    <button class="submit-form">Send Message</button>
                </form>
                <p class="statistic-attribution">* Statistic refers to businesses with no current website - <a class="source-link" href="">source</a></p>
            </div>
        </div>
    </main>
<%- include("./partials/foot.ejs") %>