<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marshian Software</title>
</head>
<body>
    <header class="navbar">
        <a href="/home"><img class="navbar-logo" src="/images/marshian-logo.png" alt="Marshian Software logo"></a>
        <nav class="navbar-links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <div class="home-top-content">
            <h1>Marshian Software</h1>
            <div class="card">
                <h2>Freelance Web Developer and Designer based in Greenville, SC</h2>
                <p>Highly skilled, knowledgeabe, and experienced</p>
                <p>Your source for fully custom, out-of-this-world web applications</p>
                <p>Get in touch today to start expanding your web presence!</p>
            </div>
        </div>

        <div class="home-bottom-content">
            <h2>It's a whole new world out there</h2>
            <h3>Don't let your business get left behind</h3>
            <img src="/images/Icons.png" alt="Overlapping icons of a desktop monitor, tablet, and phone">
            <p><a href="/contact">Ask today</a> about a fully responsive website that will look great on anyy device</p>
        </div>
    </main>
    <footer>
        <div class="footer-nav">
            <div class="social-media-icons">
                <a href="https://www.facebook.com/MarshianSoftware"><img src="" alt="Facebook icon"></a>
                <a href="https://www.instagram.com/marshiansoftware/"><img src="" alt="Instagram icon"></a>
                <a href="https://twitter.com/MarshianSoft"><img src="" alt="Twitter icon"></a>
            </div>
            <div class="footer-nav-links">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
            </div>
            <button class="scroll-top-btn">Back to Top</button>
            <div class="footer-attributions">
                <p>&copy; Marshian Software LLC 2021</p>
                <p>Social media icons by <a href="https://freeicons.io/profile/5596">shivani</a> on <a href="https://freeicons.io">freeicons.io</a></p>
            </div>
        </div>
    </footer>
</body>
</html>