<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>

    <main>
        <div class="home-top-content">
            <h1 class="home-page-title">Marshian Software</h1>
            <div class="card">
                <h2 class="card-title">Freelance Web Developer and Designer based in Greenville, SC</h2>
                <div class="card-body">
                    <p>Highly skilled, knowledgeabe, and experienced</p>
                    <p>Your source for fully custom, out-of-this-world web applications</p>
                    <p>Get in touch today to start expanding your web presence!</p>
                </div>
            </div>
        </div>

        <div class="home-bottom-content">
            <div class="home-bottom-title-container">
                <h2 class="home-bottom-title">It's a whole new world out there</h2>
                <h3 class="home-bottom-subtitle">Don't let your business get left behind</h3>
            </div>
            <img class="device-icons" src="/images/device-icons.png" alt="Overlapping icons of a desktop monitor, tablet, and phone">
            <div class="home-bottom-body"><a class="home-bottom-link" href="/contact">Ask today</a> about a fully responsive website that will look great on any device</div>
        </div>
    </main>
<%- include("./partials/foot.ejs") %>