<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Marshian Software</title>
</head>
<body>
    <header class="navbar">
        <a href="/home"><img class="navbar-logo" src="/images/marshian-logo.png" alt="Marshian Software logo"></a>
        <nav class="navbar-links">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/blog">Blog</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
        <img src="/images/outlines/navbar-outline.png" alt="Navbar outline">
    </header>
    <main>
        <div class="home-top-content">
            <h1 class="home-page-title">Marshian Software</h1>
            <div class="card">
                <h2 class="card-title">Freelance Web Developer and Designer based in Greenville, SC</h2>
                <div class="card-body">
                    <p>Highly skilled, knowledgeabe, and experienced</p>
                    <p>Your source for fully custom, out-of-this-world web applications</p>
                    <p>Get in touch today to start expanding your web presence!</p>
                </div>
                <img class="card-outline" src="/images/outlines/card-outline-home.png" alt="Simple website icon used as an outline">
            </div>
        </div>

        <div class="home-bottom-content">
            <h2 class="home-bottom-title">It's a whole new world out there</h2>
            <h3 class="home-bottom-subtitle">Don't let your business get left behind</h3>
            <img class="device-icons" src="/images/device-icons.png" alt="Overlapping icons of a desktop monitor, tablet, and phone">
            <div class="home-bottom-body"><a class="home-bottom-link" href="/contact">Ask today</a> about a fully responsive website that will look great on anyy device</div>
        </div>
    </main>
    <footer>
        <div class="footer-nav">
            <div class="social-media-icons">
                <a href="https://www.facebook.com/MarshianSoftware"><img class="media-icon" src="/images/media-icons/fb-circle-icon.png" alt="Facebook icon"></a>
                <a href="https://www.instagram.com/marshiansoftware/"><img class="media-icon" src="/images/media-icons/ig-circle-icon.png" alt="Instagram icon"></a>
                <a href="https://twitter.com/MarshianSoft"><img class="media-icon" src="/images/media-icons/twit-circle-icon.png" alt="Twitter icon"></a>
            </div>
            <div class="footer-nav-links">
                <a class="footer-nav-link" href="/home">Home</a>
                <a class="footer-nav-link" href="/about">About</a>
                <a class="footer-nav-link" href="/blog">Blog</a>
                <a class="footer-nav-link" href="/contact">Contact</a>
            </div>
            <button class="scroll-top-btn">Back to Top</button>
            <div class="footer-legal">
                <p class="legal-info">&copy; Marshian Software LLC 2021</p>
                <p class="legal-info">Social media icons by <a href="https://freeicons.io/profile/5596">shivani</a> on <a href="https://freeicons.io">freeicons.io</a></p>
            </div>
            <img src="/images/outlines/footer-outline.png" alt="Footer outline">
        </div>
    </footer>
</body>
</html>