<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marshian Software</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
    <img class="landing-logo" src="images/marshian-logo.png" alt="Marshian Software logo">
    <h1 class="landing-text">Welcome to Marshian Software</h1>
    <div class="blinking blink"></div>
</body>
</html>