.home-page-title {
    margin-top: 10%;
    margin-bottom: 4%;

    font-family: Josefin Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    text-align: center;

    color: var(--green-accent);
}

.home-bottom-content {
    background: url('/images/bottom-bg-banner.png');
    width: 1152px;
    height: 1056px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-bottom-title-container {
    margin-bottom: 5%;
}

.home-bottom-title {
    margin: 0;

    font-family: Josefin Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 68px;
    line-height: 68px;
    text-align: center;

    color: var(--marshian-red);
}

.home-bottom-subtitle {
    margin: 0;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;

    color: var(--light-gray);
}

.home-bottom-body {
    margin-top: 3%;

    width: 778px;
    height: 159px;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;

    color: var(--light-gray);
}

.home-bottom-link {
    text-decoration: none;
    color: var(--marshian-red);
}

.home-bottom-link:hover {
    text-decoration: underline;
    color: var(--green-accent);
}